# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Django
backend/.env
backend/staticfiles/
backend/media/
db.sqlite3

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Docker
*.pid
# Node
node_modules/
**/node_modules/

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/tsconfig.tsbuildinfo
backend/celerybeat-schedule